.image-placeholder {
}
.invisible {
  opacity: 0;
  visibility: hidden;
  position: absolute; /* To ensure it doesn't occupy space while invisible */
}

.visible {
  opacity: 1;
  visibility: visible;
  position: static;
  width: 10rem;
}
