<div *ngIf="!isLoaded" class="image-placeholder">
  <mat-spinner></mat-spinner>
</div>

<img
  [src]="src"
  alt="{{ alt }}"
  (load)="isLoaded = true"
  [class.visible]="isLoaded"
  [class.invisible]="!isLoaded"
/>
