<div class="pokemon-detail">
  <div class="pokemon-detail__pokemon">
    <h1 class="pokemon-detail__name">{{ data.pokemonDetails.name | capitalize  }}</h1>

    <app-async-image
      [src]="data.pokemonDetails.sprite"
      [alt]="data.pokemonDetails.name"
      class="pokemon-image-holder"
    ></app-async-image>
  </div>


    <div class="pokemon-detail__about">
      <h3 class="pokemon-detail__subtitle">{{ 'about' | transloco }}</h3>
      <div class="pokemon-detail__about__data">
        <div class="pokemon-detail__about__data__item">
          <strong>{{ 'height' | transloco }}</strong><br />{{ data.pokemonDetails.height }}m
        </div>
        <div class="pokemon-detail__about__data__item">
          <strong>{{ 'weight' | transloco }}</strong><br />{{ data.pokemonDetails.weight }}kg
        </div>
        <div class="pokemon-detail__about__data__item">
          <strong>{{ 'abilities' | transloco }}</strong><br />
          <ng-container *ngFor="let ability of data.pokemonDetails.abilities; let last = last">
            {{ ability.name }}
            <ng-container *ngIf="!last">, </ng-container>
          </ng-container>
        </div>
        <div class="pokemon-detail__about__data__item">
          <strong>{{ 'moves' | transloco }}</strong><br />
          <ng-container *ngFor="let move of data.pokemonDetails.moves | slice:0:3; let last = last">
            {{ move.name }}
            <ng-container *ngIf="!last">, </ng-container>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="pokemon-detail__stats">
      <h3 class="pokemon-detail__subtitle">{{ 'stats' | transloco }}</h3>
      <div class="pokemon-detail__stats__items">

        <div
          class="pokemon-detail__stats__items__item"
          *ngFor="let status of data.pokemonDetails.stats;"
        >
          {{ status.stat }}<br />{{ status.name | transloco }}
        </div>
      </div>
    </div>

</div>
