
  .pokemon-detail {
    padding: 4rem;
    border-radius: 4rem;

    &__pokemon {
      display: flex;
      justify-content: center;
      flex-direction: column;

      .pokemon-image-holder {
        display: flex;
        justify-content: center;
      }
    }

    &__name {
      font-size: 2rem;
      color: #000;
      text-align: center;
    }

    &__subtitle {
      color: #333;
      font-size: 16px;
    }

    &__about {
      &__data {
        display: flex;

        &__item {
          margin-bottom: 4rem;
          margin-right: 4rem;
          line-height: 20px;
          strong {
            font-weight: normal;
            color: #BBB;
          }
        }
      }
    }

    &__stats {
      &__items {
        display: flex;

        &__item {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 7rem;
          padding: 1rem;
          margin-right: 1rem;
          border-radius: 1rem;
          text-align: center;
          font-size: 16px;
          line-height: 20px;

          &:nth-child(1) { background-color: #FF5959; }
          &:nth-child(2) { background-color: #F5AC78; }
          &:nth-child(3) { background-color: #FAE078; }
          &:nth-child(4) { background-color: #9DB7F5; }
          &:nth-child(5) { background-color: #A7DB8D; }
          &:nth-child(6) { background-color: #FA92B2; margin-right: 0 }
        }
      }
    }
  }
