
<ng-container *transloco="let t">
  <div class="pokemon-filter-holder">
    <mat-form-field appearance="outline">
      <mat-label>{{ t('filter.label') }}</mat-label>
      <input matInput  [placeholder]="t('filter.placeholder')" [(ngModel)]="filterText" (input)="onInputChange()" />
    </mat-form-field>
  </div>
</ng-container>
