.image-holder {
  display: flex;
  justify-content: center;
  min-width: 304px;
  min-height: 164px;

  img {
    width: 10%;
  }
}


.pokemon-header {
  display: flex;
  align-items: center;

  .pokemon-name {
    // You may need some margin or padding adjustments
  }

  .image-holder {
    // Adjust as needed, you may need some margin or padding
  }
}

.pokemon-details {
  // Style as per your needs
}

.detail-button {
  margin-top:  8px;
}
