<div class="image-holder">
  <app-async-image
    [src]="pokemon.sprite"
    [alt]="pokemon.name"
    class="pokemon-image-holder"
  ></app-async-image>
</div>

<mat-expansion-panel (opened)="fetchDetails(pokemon.id)">
  <mat-expansion-panel-header>
    <mat-panel-title class="pokemon-name">
      {{ pokemon.name | capitalize }}
    </mat-panel-title>
  </mat-expansion-panel-header>

  <ng-container *transloco="let t">
    <p *ngIf="!loaded">{{ t('loading') }}...</p>
  </ng-container>

  <mat-chip-set role="list" *ngIf="loaded">
    <mat-chip
      role="listitem"
      color="accent"
      *ngFor="let type of pokemonDetails?.types"
    >
      {{ type }}
    </mat-chip>
  </mat-chip-set>

  <ng-container *transloco="let t">
    <button mat-raised-button (click)="openDialog()" class="detail-button">{{ t('details') }}</button>
  </ng-container>
</mat-expansion-panel>
