.spacer {
  width: 1em;
  height: 0.25em;
}

.pokemon-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1034px;

    @media (max-width: 1050px) {
      max-width: 689px;
    }

    @media (max-width: 770px) {
      max-width: 366px;
    }


    &__item {
      margin: 10px;
      background-color: #f2f2f2;
      text-align: center;
      padding: 10px;

      /* Media query */
      @media (max-width: 480px) {
        flex-basis: 100%;
      }
    }
  }

  &__pagination {
    width: 1034px;

    @media (max-width: 1050px) {
      width: 689px;
    }

    @media (max-width: 770px) {
      width: auto;
    }
  }
}
/**


{
  abilities: [
    "overgrow",
  ],
  "height": 7,
  "moves": [
    "razor-wind",
    "swords-dance",
    "cut",
  ],
  "stats": [
    {
      "name": "hp",
      "stat": 49,
    }
  ],
    "types": [
      "grass",
      "poison",
    ],
    "weight": 69
}


 */
