<app-pokemon-filter (filterChanged)="applyFilter($event)"></app-pokemon-filter>

<!--
  Lista de Pokémon:
  - Usa 'ngIf' para renderizar a lista apenas se 'pokemons$' tiver um valor.
  - Usa o pipe 'async' para assinar e desassinar automaticamente do Observable.
  - 'cols' define o número de colunas na grade.
  - 'rowHeight' define a proporção entre a largura e altura das células.
  - 'gutterSize' define o espaço entre as células.
-->
<!--<mat-grid-list-->
<!--  *ngIf="pokemons$ | async as pokemons"-->
<!--  cols="3"-->
<!--&gt;-->
<!--  &lt;!&ndash;-->
<!--    Itera sobre 'displayedPokemons':-->
<!--    - Filtra os Pokémon por nome usando o pipe 'filterByName' e o valor de 'filter'.-->
<!--    - Para cada Pokémon, renderiza um componente 'app-pokemon-card'.-->
<!--  &ndash;&gt;-->
<!--  <mat-grid-tile-->
<!--    *ngFor="let pokemon of displayedPokemons | filterByName : filter"-->
<!--  >-->
<!--    <app-pokemon-card [pokemon]="pokemon"></app-pokemon-card>-->
<!--  </mat-grid-tile>-->
<!--</mat-grid-list>-->

<div class="pokemon-list">
  <div class="pokemon-list__container">
    <div
      class="pokemon-list__container__item"
      *ngFor="let pokemon of displayedPokemons | filterByName : filter"
    >
      <app-pokemon-card [pokemon]="pokemon"></app-pokemon-card>
    </div>
  </div>

  <div class="pokemon-list__pagination">
    <mat-paginator
      *ngIf="pokemons"
      [length]="totalPokemonCount"
      [pageSize]="pageSize"
      [pageSizeOptions]="[9, 18, 27, 36, 45]"
      (page)="pageChanged($event)"
    >
    </mat-paginator>
  </div>
</div>

<!--
  Paginador:
  - Renderizado apenas se 'pokemons' tiver um valor.
  - Define o número total de itens com 'length'.
  - Define o número de itens por página com 'pageSize'.
  - Define as opções disponíveis para itens por página com 'pageSizeOptions'.
  - O evento '(page)' é disparado quando a página é alterada.
-->
